{{!-- <div class="emptyBody middleText"> --}}

<div id="dashboardBlock">

    {{#each rooms}}
        <a href="/room/{{this._id}}" >
            <div id="roomBlock">
                <img src="{{this.roomPic}}" alt="">
                <h4>{{this.title}}</h4>
                <hr>
            </div>
        </a>
    {{else}}
        At present, there is no tasks in the database
    {{/each}}
</div>
{{!-- </div> --}}