@import './variables';


.room-page {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - (180px + 8rem));
    margin: 3rem auto 5rem auto;
}

.room-image>img {
    width: 100%;
    max-height: 50vh;
    border-radius: 10px;
    object-fit: cover;
}

.room-image.edit {
    margin-bottom: 3rem;
}

.room-title {
    padding: 0 0 0 5rem;
}

.bookingForm {
    display: flex;
    margin: 2rem 0 1rem 0;

    >div {
        margin-right: 1rem;
    }
}

.book-btn {
    background: $airbnbPinkColor;
    color: white;

    &:hover {
        background: white;
        color: $airbnbPinkColor;
        border: 1px solid $airbnbPinkColor;
    }
}