#banner {
  background-image: url("../img/bg.jpg");
  height: calc(100vh - 80px);
  min-height: 600px;
  background-size: cover;
  background-position: center;
}

.headerBlock {
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler {
  border: 0;
}

#navBar {
  -ms-grid-column-align: end;
      justify-self: end;
}

.fa-airbnb {
  color: #ed6464;
  padding-left: 40px;
}

.btn-outline-success.search {
  border-color: #ed6464;
}

.btn-primary.addRoom {
  background-color: #ed6464;
  color: white;
}

.btn-primary.addRoom:hover {
  border-color: #ed6464;
}

#top-link {
  padding-left: 1rem;
}

#searchBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#searchField {
  margin: 0 0 0 1rem;
  width: 6rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#searchField:focus {
  width: 13rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#home-link {
  display: none;
}

#top-link:hover {
  color: #ed6464;
}

#popUpWindow {
  padding-top: 5%;
}

#popUpSignUp, #popUpSignIn, #popUpConf {
  padding-top: 5%;
}

#SignUpBut {
  background-color: #ed6464;
  border: 0;
}

.formError {
  color: red;
}

.modal-open {
  overflow: hidden;
}

.navbar-nav button {
  color: #ed6464;
  border: 1px solid #ed6464;
}

.navbar-nav button:hover {
  color: white;
  background-color: #ed6464;
}

.navbar-nav button:not(:disabled):not(.disabled):active {
  background: #ed6464;
  border-color: #ed6464;
}

@media only screen and (max-width: 992px) {
  .headerBlock {
    display: inline;
  }
  #mainLogo {
    display: none;
  }
  .fa-airbnb {
    padding-left: 0;
  }
  #arrowDown {
    font-size: 0.6em;
    color: #484848;
  }
  #home-link {
    display: inline;
  }
  .navbar-nav {
    padding-top: 30px;
  }
}

/* Header mobile */
@media only screen and (max-width: 768px) {
  #addHeader {
    height: 30vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .headerBlock {
    display: inline;
  }
  #mainLogo {
    display: none;
  }
  .fa-airbnb {
    padding-left: 0;
  }
  #arrowDown {
    font-size: 0.6em;
    color: #484848;
  }
  #home-link {
    display: inline;
  }
  .navbar-nav {
    padding-top: 30px;
  }
}

.form-control {
  margin-bottom: 15px;
}

#monthField {
  width: 170px;
  margin: 0 0;
}

#dayField {
  width: 110px;
  margin: 0 auto;
}

#yearField {
  width: 160px;
  margin: 0 0;
}

.modal-footer > button {
  background-color: #ed6464;
  border: 0;
}

.modal-footer > button:hover {
  background-color: #ed6464;
}

label.checkbox-inline {
  color: gray;
  padding: 0 20px;
  font-size: 0.8em;
}

#searchForm {
  background-color: white;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
  margin: 7% 0 0 10%;
  position: absolute;
  color: #484848;
}

#searchForm legend {
  font-family: 'Airbnb Cereal App Bold';
  font-size: 2rem;
  line-height: 1.1;
  padding-bottom: 10px;
}

#searchForm label {
  font-size: 0.7rem;
  font-weight: bold;
}

#searchForm button {
  margin: 5px 0;
  background-color: #ed6464;
  border-color: #ed6464;
  cursor: pointer;
}

#searchForm button:hover {
  background-color: #F0F0F0;
  color: black;
}

#searchForm input, #anywhere {
  color: gray;
}

#promotionSection {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  background-color: #F0F0F0;
}

#aboutSection h2 {
  padding: 110px 0 40px 0;
  text-align: center;
}

#aboutBlock {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding-bottom: 110px;
}

#aboutBlock img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #banner {
    background-image: none;
  }
  #searchForm {
    width: 100%;
    border-radius: 5px;
    margin: 0;
    color: #484848;
  }
  #aboutBlock {
    width: 100%;
    display: block;
    padding-bottom: 110px;
  }
  #aboutText {
    width: 90%;
    padding: 40px 0 0 0;
    margin: 0 auto;
  }
  #monthField, #yearField {
    width: 37%;
  }
  #dayField {
    width: 23%;
  }
}

#roomListingsSection {
  width: 80vw;
  margin: 0 auto 5rem auto;
}

#roomListingsSection > h2 {
  text-align: center;
  padding: 30px 0 20px 0;
}

.listing-search {
  width: 78vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 4rem;
}

.listing-search label {
  color: gray;
  font-size: 0.7rem;
  font-weight: 800;
}

.listing-search button {
  height: 40%;
  line-height: 0;
  border: 1px solid #ed6464;
  color: #ed6464;
  margin-top: -0.2rem;
}

.listing-search button:hover {
  color: white;
  background: #ed6464;
  border-color: #ed6464;
  cursor: pointer;
}

#roomListingsBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#wasntFound {
  text-align: center;
}

.card {
  width: 21rem;
  /* min-height: 55vh; */
  border: 0;
  margin-bottom: 5rem;
}

.card-links {
  padding-top: 5px;
  margin-bottom: 6rem;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.card-links:hover {
  text-decoration: none;
  border: 1px solid lightgray;
  -webkit-transition: 1s;
  transition: 1s;
}

.card img {
  border-radius: 4px;
}

.card-body {
  padding-left: 0;
  line-height: 0.5em;
}

.card-img-top {
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.aptLocation {
  text-transform: uppercase;
  font-family: 'Airbnb Cereal App Bold';
  font-size: 0.8em;
  color: #767676;
}

.card-title {
  color: #484848;
  padding-bottom: 0.5em;
  font-family: 'Airbnb Cereal App Medium';
}

.card-text {
  color: #484848;
  font-family: 'Airbnb Cereal App Light';
}

.ratingStar {
  color: #378288;
}

.ratingNum {
  font-family: 'Airbnb Cereal App Medium';
  color: #484848;
}

.card-body > small {
  color: #767676;
}

@media only screen and (max-width: 768px) {
  #roomListingsBlock {
    width: 90vw;
    margin: 0 auto;
    display: block;
  }
  .card {
    min-height: 55vh;
    border: 0;
  }
  .card-img-top {
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.emptyBody {
  min-height: calc(100vh - 310px);
}

.middleText h1, .middleText h2 {
  text-align: center;
  margin: auto;
}

#addRoomHeading {
  text-align: center;
  margin: 3rem 0;
}

#addRoomBlock {
  width: 50%;
  margin: 0 auto 5rem auto;
}

.form-group.splited {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

#addRoomBut {
  width: 100%;
  background-color: #ed6464;
  border: 1px solid #ed6464;
}

#dashboardBlock {
  width: 70%;
  min-height: calc(100vh - (180px + 8rem));
  margin: 3rem auto 5rem auto;
}

#dashboardBlock h2 {
  text-align: center;
  padding-bottom: 2rem;
}

#dashboardBlock img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin: 0 2rem 1rem 0;
}

#dashboardBlock a:hover {
  text-decoration: none;
}

#roomBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#roomBlock > div:first-of-type, #roomBlock > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#roomBlock > div:last-child > a {
  margin-right: 1rem;
}

.room-page {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: calc(100vh - (180px + 8rem));
  margin: 3rem auto 5rem auto;
}

.room-image > img {
  width: 100%;
  max-height: 50vh;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.room-image.edit {
  margin-bottom: 3rem;
}

.room-title {
  padding: 0 0 0 5rem;
}

.room-title #edit-delete-buts {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room-title #edit-delete-buts > a {
  margin-right: 1rem;
}

.bookingForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 1rem 0;
}

.bookingForm > div {
  margin-right: 1rem;
}

.book-btn {
  background: #ed6464;
  color: white;
}

.book-btn:hover {
  background: white;
  color: #ed6464;
  border: 1px solid #ed6464;
}

footer {
  height: 100px;
  background-color: #F0F0F0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footer .fab {
  color: #ed6464;
  padding: 0 50px;
}

footer .fab:hover {
  color: black;
}

footer nav > a {
  padding: 0 30px;
  color: black;
}

footer nav > a:hover {
  text-decoration: none;
  color: #ed6464;
}

@media only screen and (max-width: 768px) {
  footer {
    height: 160px;
    background-color: #F0F0F0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  footer .fab {
    text-align: center;
    color: #ed6464;
    padding: 0 20px;
  }
  footer nav > a {
    padding: 0 10px;
    color: black;
  }
}

@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Book"), url("../fonts/AirbnbCerealBook.woff") format("woff");
}

@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Medium"), url("../fonts/AirbnbCerealMedium.woff") format("woff");
}

@font-face {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Bold"), url("../fonts/AirbnbCerealBold.woff") format("woff");
}

@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Light"), url("../fonts/AirbnbCerealLight.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Airbnb Cereal App Book';
}

a {
  color: black;
}

a:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */